/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally. 
 */

.heroBanner {
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #2a2a2a;
  background-image: url('/img/city.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Make sure the hero banner takes full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.rainCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure canvas is above the background image */
}

.hero__title {
  color: black !important; /* Set Welcome! text color to black */
}

/* Remove .hero__subtitle if it was present and is no longer needed */
/* .hero__subtitle { */
/*   color: #555; */
/* } */

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

/* Remove all BlogSection related styles */
/* .blogSection { */
/*   padding: 2rem 0; */
/*   text-align: center; */
/* } */

/* .blogSection h2 { */
/*   margin-bottom: 1.5rem; */
/*   font-size: 2.5em; */
/*   color: #333; */
/* } */

/* .blogSection ul { */
/*   list-style: none; */
/*   padding: 0; */
/*   margin: 0; */
/* } */

/* .blogSection li { */
/*   margin-bottom: 0.8rem; */
/* } */

/* .blogSection li a { */
/*   font-size: 1.1em; */
/*   color: #007bff; */
/*   text-decoration: none; */
/* } */

/* .blogSection li a:hover { */
/*   text-decoration: underline; */
/* } */ 